<html>
    <head>
        <title>Major Project</title>
        <style>
            body{
                background-color: peachpuff;
            }
            button{
                width:100%;
                height: 90%;
                border-radius: 50px;
            }
            button:hover{
                background-color: lightgreen;
            }
            p{
                font-size: xx-large;
                font-weight: bold;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        </style>
    </head>
    <body>
        <center><h1>System for Self Walking Assistance for Blind</h1></center>
        <button type="button"><a href="{{ url_for('exit') }}">Click Me To Stop Execution</a></button>
    </body>
</html>